.estiloBotonVistas{
    background-color: #92af5a;
    color: #e5ebd2;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 1%;
    cursor: pointer;
    padding: 1vh;
    width: auto;
    height: auto;
    display: inline-block;
    margin: 3%;
}

.estiloBotonVistas:hover{
    background: #e5ebd2;
    color: #404866;
}