
.estiloModificar{
    background-color: #404866;
    font-size:small;
    padding: 10px;
    margin: 10px;
    width: 80px;
}
.estiloEliminar{
    background-color: red;
    font-size:small;
    padding: 10px;
    margin: 10px;
    width: 80px;
}
.estiloCerrar{
    background-color: green;
    font-size:small;
    padding: 10px;
    margin: 10px;
    width: 80px;
}
.estiloAceptar{
    background-color: blue;
    font-size:small;
    padding: 10px;
    margin: 10px;
    width: 80px;
}
.estiloVista{
    color: black;
    background-color: #d4edda;
    font-size:small;
    padding: 10px;
    margin: 10px;
    width: 80px;
}
.estiloNoVista{
    color: black;
    background-color: #f4abb1;
    font-size:small;
    padding: 10px;
    margin: 10px;
    width: 80px;
}