
button{
    font-size:small;
    padding: 10px;
    margin: 10px;
    width: 80px;
}

.estiloModificar{
    background-color: #404866;
}
.estiloEliminar{
    background-color: red;
}
.estiloVista{
    color: black;
    background-color: #d4edda;
}
.estiloNoVista{
    color: black;
    background-color: #f4abb1;
}