
button{
    font-size:large;
    padding: 10px;
    margin: 20px;
    width: 100px;
}

.estiloModificar{
    background-color: #404866;
}
.estiloEliminar{
    background-color: #604866;
}
.estiloVista{
    background-color: #4a761a;
}
.estiloNoVista{
    background-color: #Fa761a;
}