
.label {
    display: block;
    font-weight: bold;
    font-size: 1.1rem;
    color: #e5ebd2;
  }
.inputBusqueda {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 8px;
    border: none;
    width: 60%;
    color: #404866;
    max-width: 400px;
    background-color: #e5ebd2;
  }