
input{
    width: 100px;
    border-radius: 2px;
}
form {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.TMBackArea{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 999999999;
}

.TMArea{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #404866;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0px #000;
    max-width: 600px;
    box-sizing: border-box;
}

.TMLabel{
    display: block;
    width: 100%;
    text-align: left;
    font-weight: bold;
    color: #e5ebd2;
}

.TMInput{
    width: 100%;
    max-width: 300px;
    border-color: #fff;
    border-radius: 10px;
    padding: 8px 12px;
    background-color:rgb(46, 44, 44);
    color: #e5ebd2;
    box-sizing: border-box;
    font-size: 14px;
    box-sizing: border-box;
    box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.1);
}

.TMSelect {
    width: 100%;
    max-width: 300px;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 8px 12px;
    background-color: rgb(46, 44, 44);
    color: #e5ebd2;
    font-size: 14px;
    box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.1);
}

input:focus {
    outline: none;
    border: 2px solid #92af5a;
}